h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
p {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
ul {
    border: solid 1px;
}
ol {
    border: solid 1px;
}